<%= form_for @listing do |form| %>
  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name, type: 'name' %>
  </div>

  <div class="text-field">
    <%= form.label :description %>
    <%= form.text_field :description, type: 'description' %>
  </div>

  <div class="text-field">
    <%= form.label :address %>
    <%= form.text_field :address, type: 'address' %>
  </div>

  <div class="text-field">
    <%= form.label :price %>
    <%= form.text_field :price, type: 'price' %>
  </div>

  <div class="submit-field">
    <%= form.submit "Submit" %>
  </div>
<% end %>



<% form_for @users do |f|%>
  <%= f.radio_button :role, 'landlord', :checked => true %>
  <%= label :role, 'Landlord' %>
  <%= f.radio_button :role, 'tenant' %>
  <%= label :role, 'Tenant' %>
<% end %>