<h1>All Listings</h1>

<%= link_to "Add new listing", new_listing_path %>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Photo</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each.with_index(1) do |listing, index| %>
      <tr>
        <td><%= index %><%= "*" if listing.mine?(current_user) %></td>
        <td>
          <% if !listing.photos.empty? %>
            <%= image_tag listing.photos.first.thumb.url %>
          <% end %>
        </td>
        <td><%= link_to listing.title, listing_path(listing.id) %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= listing.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <h5>Filter by:</h5>

    <%= label_tag :price_min , "Minimum Price: " %>
    <%= text_field_tag :price_min %>
    <br>
    <%= label_tag :price_max , "Maximum Price: " %>
    <%= text_field_tag :price_max %> <!-- number_field_tag -->
    <br>
    <%= label_tag :limit_location , "Location: " %>
    <%= text_field_tag :limit_location %>
    <br>
    <%= submit_tag 'search' %>
  <% end %>