<div class=header>
  
</div>
<div class="big-title">
  <div class="big-title-header caps">List Your Space</div>
  <div class="big-title-subheader">Pairbnb lets you make money renting out your place.</div>
</div>
<%= render 'form' %>

<%= form_for @listing do |form %>
	<%= form.label :title %>
	<%= form.text_field :title %><br>
	<%= form.label :description %>
	<%= form.text_field :description %><br>
	<%= form.label :title %>
	<%= form.text_field :title %><br>
	<%= form.label :title %>
	<%= form.text_field :title %><br>
	<%= form.label :title %>
	<%= form.text_field :title %><br>