
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="radio-button">
    <label for="role">Register as</label>:
    <input type="radio" name="role" value="0" checked> Tenant<br>
    <input type="radio" name="role" value="1"> Host<br>
  </div>